- var company = "Mogin Group"

doctype html
html(lang="en")
  head
    block title
    - var headerTitle = title ? `Mogin | ${title}` : company
    title #{headerTitle}
    link(rel="icon" type="image/x-icon" href="/img/favicon.ico")/
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")/
    meta(property="og:url" content="https://mogin.net")/
    meta(property="og:title" content=`${headerTitle}`)/
    meta(property="og:description" content="Inspiring Innovation, Extraordinary Journeys. Mogin Group, Your Path to Success!")/
    meta(property="og:image" content="https://mogin.net/img/mogin_300_300.jpg")/
    meta(property="og:type" content="website")/
    meta(property="og:locale" content="en_US")/
    link(rel="stylesheet" href="/css/main.css")/
    noscript: link(rel="stylesheet" href="/css/noscript.css")/
  body.is-preload(class=title ? "" : "landing")
    // Wrapper 
    #page-wrapper
      // Navigation 
      header#header
        h1#logo 
          a(href="/") Mogin Group
        nav#nav
          ul 
            li
              a(href=title ? "/#travel" : "#travel") Travel 
            li 
              a(href=title ? "/#rental" : "#rental") Rental
            li 
              a(href=title ? "/#technology" : "#technology") Technology 

      // Main Content 
      #main
        block content

      // Footer 
      #footer
        //- ul.icons
        //-   li
        //-     a.icon.brands.alt.fa-twitter(href="#")
        //-       span.label Twitter
        //-   li
        //-     a.icon.brands.alt.fa-facebook-f(href="#")
        //-       span.label Facebook
        //-   li
        //-     a.icon.brands.alt.fa-linkedin-in(href="#")
        //-       span.label LinkedIn
        //-   li
        //-     a.icon.brands.alt.fa-instagram(href="#")
        //-       span.label Instagram
        //-   li
        //-     a.icon.brands.alt.fa-github(href="#")
        //-       span.label GitHub
        //-   li
        //-     a.icon.solid.alt.envelope(href="#")
        //-       span.label Email
        ul.copyright 
          li#copyright &copy; 2021 - #{new Date().getFullYear()}
          li= `${company}`
          li 
            a(href="/credits.html") Credits
    include ./scripts.pug